main{
    font-family: 'Cabin', sans-serif;
}
#botaoheader{
  display:inline;
    float: right;
}
#logo{
    width: 50%;
    margin: 0;
    display: inline-block;
}
#logo>p{
    margin: 0;
    width: 50%;
}

#fundo {
    position: fixed;
    top:-10px;
    left:-10px;
    width: 105%;
    height: auto;
    z-index: -1;
}

.fundo_quadrado {
    background-color: black;
    position: fixed;
    top:-10px;
    left:-10px;
    width: 1500px;
    height: 1200px;
    opacity:40%;
    z-index:-1;
}

.barra {
    position: relative;
    font-family: 'Cabin', sans-serif;
    font-size:27px;
    text-align: left;
}



.formulario {
    width:20%;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form { /*not working*/
    text-align: center;
    text-size: 25px;

}

p {
    color: white;
}

input[type=text], input[type=password] {
    width:100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 10px;
    opacity: 75%;
}

input[type=submit], #botão_entrar {
    color: white;
    background: 0;
    padding:10px;
    border-radius: 15px;
    width:100px;
}

.escolha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 70%;
}
.escolha input[type=button]{
    color: white;
    font-size: 20px;
    background: 0;
    padding-top:30px;
    padding-bottom: 30px;
    border-radius: 15px;
    width:30%;

}
#administradorbutton{
    margin-left: 20%;
}

#registar{
    position: fixed;
    color: white;
    font-size: 20px;
    background: 0;
    margin-top:5%;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 15px;
    width:20%;
    margin-left: -10%;
}

.homepage_geral{
    color: white;
    font-size: 20px;
    margin-top:10%;
    text-align: center;
}

#form_restaurante{
    color: white;

}
#form_restaurante>input{
    width: 50vw;
}
